# 1. 忽略 Obsidian 软件的本地工作区缓存（必须忽略，否则每次多端同步都会冲突报错）
# .obsidian/workspace.json
# .obsidian/workspace-mobile.json

# 2. 如果你想忽略整个 .obsidian 配置文件夹（包含你装的插件、主题、外观设置等），取消下面这行的注释
.obsidian/

# 3. 忽略操作系统的系统文件
thunbs.db
.DS_Store